.footer {
    display: flex;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    .author {
        color: $color-dark-text;
    }
    .go-top-container {
        text-align: center;
    }
}

// fuera para que sirva para el resto de botones
.btn-default {
    &:hover {
        background: $color-secondary;
        color: $color-white;
    }
}
