.pager-link {
    &:hover {
        background: $color-secondary;
        color: $color-white;
    }
}

/*.special-img 
{
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}
.navbar-text img {
  max-height:30px;
  width:auto;
  vertical-align:middle;
}*/